@font-face {
    font-family: Estedad;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/fonts/Estedad-Black.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-Bold.ttf") format("ttf"),
     url("../fonts/fonts/Estedad-ExtraBold.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-ExtraLight.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-Light.ttf") format("ttf"),
       url("../fonts/fonts/Estedad-Medium.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-Regular.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-SemiBold.ttf") format("ttf"),
      url("../fonts/fonts/Estedad-Thin.ttf") format("ttf");

 
      
  }
  html *
  {
     font-size: 1em ;
    
     font-family: Estedad !important;
  }
  .checked {
    color: orange;
  }


 * {  
    box-sizing: border-box;  
}  
.bg-img {
  /* The image used */
  background-image: url("../img/img1.png");

  min-height: 900px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.containerform {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 300px;
  margin-right: 300px;
 
  padding: 16px;
  background-color: white;
  opacity: 800px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
/* Set a style for the submit contactme */
.dropup .hide-toggle.dropdown-toggle::after {
  display: none !important;
}

